# Server configuration
PORT=5000
NODE_ENV=development

# Database configuration
DB_USER=postgres
DB_PASSWORD=1234
DB_HOST=localhost
DB_PORT=5432
DB_NAME=luckyLy

# Security
JWT_SECRET=your_super_secret_access_token_key_here
JWT_REFRESH_SECRET=your_super_secret_refresh_token_key_here

# Cookie configuration
COOKIE_SECRET=your_cookie_secret_here
