NODE_ENV=development
PORT=4000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=lucky_ly
DB_USER=postgres
DB_PASSWORD=<mật_khẩu_PostgreSQL_của_bạn>
DB_SSL=false

JWT_ACCESS_SECRET=my_super_secret_key_for_lucky_ly_app_2026
JWT_ACCESS_EXPIRES_IN=15m
REFRESH_TOKEN_TTL_DAYS=30

CORS_ORIGIN=*
BCRYPT_ROUNDS=12

GOOGLE_CLIENT_ID=301453242147-i7a769fga6fmvmbdghnguntvhfe87r1c.apps.googleusercontent.com